<app-destinations-nav></app-destinations-nav>

<html>
  <h1 class="c-title">Inspiration For Your <br />Next Camping</h1>
  <ul class="c-featurette">
    <li class="c-featurette__item" *ngFor="let camping of campings">
      <img
        class="c-featurette__background"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/911489/nicolas-j-leclercq-785256-unsplash.jpg"
      /><small class="c-featurette__category">{{ camping?.price }}</small>
      <h2 class="c-featurette__heading">{{ camping?.name }}</h2>
      <a  [routerLink]="['/destinations/camping/', camping.camping_id]" routerLinkActive="active"
      ><button class="c-featurette__button">Discover</button></a>
      
    </li>
  </ul>
</html>

<app-destination-footer></app-destination-footer>