<html>

<div class="container">
    <body>
        <header>
            <nav class="nav">
              <ul class="nav__list">
                <li>
                  <a class="nav__link" routerLink="" routerLinkActive="active">home</a>
                </li>
              </ul>
              <span class="nav__copy">All rights reserved 2023</span>
            </nav>
            <h1 class="page-title">About Us</h1>
          </header>
        <main>
            <article class="content">
              <section class="content__descriptor">
                <h2 class="content__title">Info</h2>
              </section>
              <section class="content__text-box">
                <p class="content__text">
                  We aim to be the investors we wished we had when we started out.
                  Lightning-fast, always on your side and fundamentally helpful.
                </p>
                <p class="content__text">
                  Our knowledge is your knowledge. Our network is your network. Your
                  problems are our problems. We don't have all the answers, but we
                  will help you find them.
                </p>
              </section>
            </article>
          </main>
    </body>
  </div>
    

</html>

