<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <!-- Vertical Navbar -->
  <app-admin-nav></app-admin-nav>
  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
      <div class="container-fluid">
        <div class="mb-npx">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
              <!-- Title -->
              <h1 class="h2 mb-0 ls-tight">Travel Monde</h1>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
    </header>
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        <!-- Card stats -->
        <div class="row g-6 mb-6">
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Budget</span
                    >
                    <span class="h3 font-bold mb-0">$750.90</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-credit-card"></i>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span
                    class="badge badge-pill bg-soft-success text-success me-2"
                  >
                    <i class="bi bi-arrow-up me-1"></i>13%
                  </span>
                  <span class="text-nowrap text-xs text-muted"
                    >Since last month</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Users</span
                    >
                    <span class="h3 font-bold mb-0">{{
                      this.finalUserCount
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-people"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Collections</span
                    >
                    <span class="h3 font-bold mb-0">{{ this.finalTotal }}</span
                    ><br />
                    <span class="text-nowrap text-xs text-muted"
                      >Treks {{ this.finalTrekCount }}</span
                    ><br />

                    <span class="text-nowrap text-xs text-muted"
                      >Camps {{ this.finalCampingCount }}</span
                    ><br />
                    <span class="text-nowrap text-xs text-muted"
                      >National {{ this.finalNationalCount }}</span
                    ><br />
                    <span class="text-nowrap text-xs text-muted"
                      >International {{ this.finalInternationalCount }}</span
                    >
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-info text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-bookmarks"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Feedbacks</span
                    >
                    <span class="h3 font-bold mb-0">95%</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-chat"></i>
                    </div>
                  </div>
                </div>
                <div class="mt-2 mb-0 text-sm">
                  <span
                    class="badge badge-pill bg-soft-success text-success me-2"
                  >
                    <i class="bi bi-arrow-up me-1"></i>10%
                  </span>
                  <span class="text-nowrap text-xs text-muted"
                    >Since last month</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow border-0 mb-7">
          <div class="card-header">
            <h5 class="mb-0">Analitycs</h5>
          </div>
          <div class="chart-container">
            <div class="chart-container-trek">
              <div>
                <canvas
                  baseChart
                  [datasets]="pieChartData"
                  [labels]="pieChartLabels"
                  [type]="pieChartType"
                  [legend]="pieChartLegend"
                >
                </canvas>
              </div>
            </div>
            <div class="chart-container-camp">
              <div>
                <canvas
                  baseChart
                  [datasets]="pieChartDataCamp"
                  [labels]="pieChartLabelsCamp"
                  [type]="pieChartTypeCamp"
                  [legend]="pieChartLegendCamp"
                >
                </canvas>
              </div>
            </div>
            <div class="chart-container-national">
              <div>
                <canvas
                  baseChart
                  [datasets]="pieChartDataNational"
                  [labels]="pieChartLabelsNational"
                  [type]="pieChartTypeNational"
                  [legend]="pieChartLegendNational"
                >
                </canvas>
              </div>
            </div>
            <div class="chart-container-international">
              <div>
                <canvas
                  baseChart
                  [datasets]="pieChartDataInternational"
                  [labels]="pieChartLabelsInternational"
                  [type]="pieChartTypeInternational"
                  [legend]="pieChartLegendInternational"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- 
<router-outlet></router-outlet> -->
