<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <!-- Vertical Navbar -->
  <app-admin-nav></app-admin-nav>
  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
      <div class="container-fluid">
        <div class="mb-npx">
          <div class="row align-items-center">
            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
              <!-- Title -->
              <h1 class="h2 mb-0 ls-tight">Travel Monde</h1>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
    </header>
    <!-- Main -->
    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        <!-- Card stats -->
        <div class="row g-6 mb-6">
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Budget</span
                    >
                    <span class="h3 font-bold mb-0">
                      <span>&#8377;{{ this.finalTotalPayment }}</span>
                      <br />
                      <span class="text-nowrap text-xs text-muted"
                        >Treks
                        <span>&#8377; {{ this.finalTrekPayment }}</span></span
                      ><br />

                      <span class="text-nowrap text-xs text-muted"
                        >Camps
                        <span
                          >&#8377; {{ this.finalCampingPayment }}</span
                        ></span
                      ><br />
                      <span class="text-nowrap text-xs text-muted"
                        >National
                        <span
                          >&#8377; {{ this.finalNationalPayment }}</span
                        ></span
                      ><br />
                      <span class="text-nowrap text-xs text-muted"
                        >International
                        <span
                          >&#8377; {{ this.finalInternationalPayment }}</span
                        ></span
                      >
                    </span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-credit-card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Users</span
                    >
                    <span class="h3 font-bold mb-0">{{
                      this.finalUserCount
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-primary text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-people"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Collections</span
                    >
                    <span class="h3 font-bold mb-0">{{ this.finalTotal }}</span
                    ><br />
                    <span class="text-nowrap text-xs text-muted"
                      >Treks {{ this.finalTrekCount }}</span
                    ><br />

                    <span class="text-nowrap text-xs text-muted"
                      >Camps {{ this.finalCampingCount }}</span
                    ><br />
                    <span class="text-nowrap text-xs text-muted"
                      >National {{ this.finalNationalCount }}</span
                    ><br />
                    <span class="text-nowrap text-xs text-muted"
                      >International {{ this.finalInternationalCount }}</span
                    >
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-info text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-bookmarks"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span
                      class="h6 font-semibold text-muted text-sm d-block mb-2"
                      >Feedbacks</span
                    >
                    <span class="h3 font-bold mb-0">{{
                      this.finalFeedbackCount
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-warning text-white text-lg rounded-circle"
                    >
                      <i class="bi bi-chat"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow border-0 mb-7">
          <div class="card-header">
            <h3 class="mb-0">Payments</h3>
          </div>
          <div class="card-header">
            <h5 class="mb-0">Trek Payments</h5>
          </div>

          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          />
          <div class="products">
            <table class="table is-striped is-bordered mt-2 is-fullwidth">
              <thead>
                <tr>
                  <th>Tour Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trekPayment of trekPayments">
                  <td>{{ trekPayment.file_name }}</td>

                  <td>
                    {{ trekPayment.amount }}
                  </td>
                  <td>
                    {{ trekPayment.payment_date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-header">
            <h5 class="mb-0">Camp Payments</h5>
          </div>
          <div class="products">
            <table class="table is-striped is-bordered mt-2 is-fullwidth">
              <thead>
                <tr>
                  <th>Tour Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let campPayment of campPayments">
                  <td>{{ campPayment.file_name }}</td>

                  <td>
                    {{ campPayment.amount }}
                  </td>
                  <td>
                    {{ campPayment.payment_date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-header">
            <h5 class="mb-0">National Tours Payments</h5>
          </div>
          <div class="products">
            <table class="table is-striped is-bordered mt-2 is-fullwidth">
              <thead>
                <tr>
                  <th>Tour Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let nationalPayment of nationalPayments">
                  <td>{{ nationalPayment.file_name }}</td>

                  <td>
                    {{ nationalPayment.amount }}
                  </td>
                  <td>
                    {{ nationalPayment.payment_date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-header">
            <h5 class="mb-0">International Tours Payments</h5>
          </div>
          <div class="products">
            <table class="table is-striped is-bordered mt-2 is-fullwidth">
              <thead>
                <tr>
                  <th>Tour Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let internationalPayment of internationalPayments">
                  <td>{{ internationalPayment.file_name }}</td>

                  <td>
                    {{ internationalPayment.amount }}
                  </td>
                  <td>
                    {{ internationalPayment.payment_date }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- 
<router-outlet></router-outlet> -->
