<header>
    <nav class="navbar navbar-expand-md navbar-light bg-white">
      <div class="nav-logo">
        <!-- <img
          src="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg"
          alt=""
        /> -->
      </div>
      <div class="nav-right">
        <div class="nav-close-icon"></div>
        <ul class="nav-menu">
          <li class="nav-item">
            <a routerLink="/administration/collections" routerLinkActive="active" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/administration/collections/addTreks" routerLinkActive="active" class="nav-link">Treks</a>
          </li>
          <li class="nav-item">
            <a routerLink="/administration/collections/addCamping" routerLinkActive="active" class="nav-link">Camping</a>
          </li>
          <li class="nav-item">
            <a routerLink="/administration/collections/addNational" routerLinkActive="active"  class="nav-link">National</a>
          </li>
          <li class="nav-item">
            <a routerLink="/administration/collections/addInternational" routerLinkActive="active"  class="nav-link">International</a>
          </li>
        </ul>

      </div>

    </nav>
  </header>
