<html>

<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
      <div class="nav-logo">
        <img
          src="https://raw.githubusercontent.com/mustafadalga/tour-and-travel/master/assets/img/logo.svg"
          alt=""
        />
      </div>
      <div class="nav-right">
        <div class="nav-close-icon"></div>
        <ul class="nav-menu">
          <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link active">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/destinations" routerLinkActive="active" target="_blank" class="nav-link">Destinations</a>
          </li>
          <li class="nav-item">
            <a routerLink="/aboutUs" routerLinkActive="active" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/feedback" routerLinkActive="active" class="nav-link">Feedback</a>
          </li>
        </ul>
        <div class="nav-form">
          <a routerLink="/login" routerLinkActive="active" class="btn btn-login">Login</a>
          <a routerLink="/register" routerLinkActive="active" class="btn btn-register">Register</a>
        </div>
      </div>
      <div class="hamburger-menu-wrap">
        <div class="hamburger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </nav>
  </header>

  <head>
    <script>

        /* Navigation Menu */
    var nav = document.querySelector("nav");
    var hamburger_menu = document.querySelector(".hamburger-menu-wrap");
    var close_icon = document.querySelector(".nav-close-icon");
    hamburger_menu.addEventListener("click", (event) => {
      nav.classList.add("open");
    });
    close_icon.addEventListener("click", (event) => {
      nav.classList.remove("open");
    });
    
    // Custom Dropdown
    
    /* Resource:https://andrejgajdos.com/custom-select-dropdown/ */
    
    for (const dropdown of document.querySelectorAll(".custom-select-wrapper")) {
      dropdown.addEventListener("click", function () {
        this.querySelector(".custom-select").classList.toggle("open");
      });
    }
    
    for (const option of document.querySelectorAll(".custom-option")) {
      option.addEventListener("click", function () {
        if (!this.classList.contains("selected")) {
          this.parentNode
            .querySelector(".custom-option.selected")
            .classList.remove("selected");
          this.classList.add("selected");
          this.closest(".custom-select").querySelector(
            ".custom-select__trigger span"
          ).textContent = this.textContent;
        }
      });
    }
    window.addEventListener("click", function (e) {
      for (const select of document.querySelectorAll(".custom-select")) {
        if (!select.contains(e.target)) {
          select.classList.remove("open");
        }
      }
    });
    
        
    
      </script>

  </head>
</html>
  
