@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500;1,600&display=swap");

/*few css*/

/* Base styles */



html,
body,
header {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

/* Navigation */

nav .navbar-brand {
  text-decoration: none;
  text-transform: uppercase;
}

/* Jumbotrom */



/* Section About*/


/*Section Banner*/


/*Section Travel Options*/



/*Section Testimonials*/

/* Footer */

/* Contact Us page*/

/*About us page*/


/*Thailand Page*/

/*Asia Page*/

/*Asia Page*/

/*Video*/



/*new css*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

section {
  padding: 8rem 0;
}

body {
  background-color: #ffffff;
}

.btn {
  padding: 0.8rem 2.4rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Resource:https://andrejgajdos.com/custom-select-dropdown/ */



/*
 https://github.com/TylerPottsDev/custom-date-picker
 */


/* Header */
header {
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.open .nav-right {
  transform: translateX(0);
}

.nav-logo {
  width: 4rem;
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
}

.nav-right {
  display: flex;
}

.nav-menu {
  display: flex;
  position: relative;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}



.nav-item {
  padding: 1.5rem 2rem;
}

.nav-link {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #b8becd;
  transition: all 0.3s ease-in-out;
  width: 80%;
  max-width: 100%;
}
.nav-link.active {
  color: #202336;
  font-weight: 500;
}
.nav-link:hover {
  color: #fb8f1d;
}

.nav-form {
  display: flex;
  align-items: center;
  grid-gap: 1.5rem;
}

.btn-login {
  border: 1px solid #fb8f1d;
  color: #fb8f1d;
}

.btn-register {
  background-color: #fb8f1d;
  color: #ffffff;
}

.hamburger-menu-wrap {
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.hamburger-menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  grid-row-gap: 0.2rem;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.hamburger-menu .line {
  background-color: #202336;
  height: 0.3rem;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-close-icon {
  position: relative;
  padding: 3rem 2rem;
  height: 2.5rem;
  cursor: pointer;
  display: none;
}
.nav-close-icon:before, .nav-close-icon:after {
  position: absolute;
  content: "";
  width: 4px;
  right: 4rem;
  height: 40%;
  background-color: #202336;
}
.nav-close-icon:before {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg) translate(0.5rem, -1rem);
}
.nav-close-icon:after {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg) translate(1rem, 0.5rem);
}

/* Hero */


/* Explore */

/* Features Destinations */


/* Testimonials */

/* Trending Stories */

/* Footer */
/*Back to Top Arrow*/

@media screen and (max-width: 1000px) {
  .hamburger-menu-wrap,
.nav-close-icon {
    display: block;
  }

  .nav-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    background-color: #f9f9fb;
    z-index: 2;
    flex-direction: column;
    transform: translateX(40rem);
    transition: transform 0.3s ease-in-out;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-link {
    color: #848484;
  }

  .nav-form {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
  }
  .nav-form .btn {
    width: 15rem;
  }
}
@media screen and (max-width: 900px) {
  /* Features */
 

  /*Footer*/
  .nav-footer {
    order: 1;
  }

 
}
@media screen and (max-width: 768px) {


  .nav-menu {
    position: fixed;
    background-color: darkcyan;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 52, 59, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }

}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav-link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav-link:hover {
    color: var(--white-color);
  }
 
  .nav-menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }


  
}

@media screen and (max-width: 700px) {
  /* Features */
 
}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 450px) {
  /* Features */
 
}

/*new css */

