
<input
  type="hidden"
  name="id"
  ngModel="{{ trek?.id }}"
  class="form-control"
  id="id"
  placeholder="ID"
/>

<input
  type="hidden"
  name="id"
  ngModel="{{ trekFile?.id }}"
  class="form-control"
  id="id"
  placeholder="ID"
/>

<!-- <input
  type="hidden"
  name="name"
  ngModel="{{ trekByFileName?.file_name }}"
  class="form-control"
  id="name"
  placeholder="NAME"
/> -->

<!DOCTYPE html>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous"
/>

<div class="card-wrapper">
  <div class="card">
    <!-- card left -->
    <div class="product-imgs">
      <div class="img-display">
        <img [src]="" />
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">{{ trek?.name }}</h2>
      <div class="product-price">
        <p class="start-bid">Price: <span></span>{{ trek?.price }}</p>
      </div>
      <div class="product-detail">
        <h2>about this Trek:</h2>
        <b
          ><p class="product-category">
            Trek Place: &nbsp; {{ trek?.place }}
          </p></b
        >
        <b
          ><p class="product-description">
            Trek Total Days: &nbsp; {{ trek?.days }}
          </p></b
        >
        <b
        ><p class="product-file-name">
          {{ trek?.name }}: &nbsp; 
         
          <a (click)="downloadFile(trekFile.file_name)">download</a>
        </p></b
      >
      </div>
      <div class="purchase-info">
        <button type="button" class="btn">
          Book your Trek &nbsp; <i class="fas fa fa-plus"></i>
        </button>
        <button type="button" class="btn" (click)="goBackToTreks()">
          Back to Treks &nbsp; <i class="fas fa fa-undo"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="products">
  <table class="table is-striped is-bordered mt-2 is-fullwidth">
    <thead>
      <tr>
        <th>File Name</th>
        <th class="has-text-centered">Download</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items2">
        <td>{{ item.name }}</td>
        <td>
          <a (click)="downloadFile(item.name)">downloadd</a>
          <button class="btn" (click)="onClick(item.name)">
                <i class="fa fa-download"></i> Download
              </button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


