<app-destinations-nav></app-destinations-nav>

<html>
  <h1 class="c-title">Inspiration For Your <br />Next InterNational Tour</h1>
  <ul class="c-featurette">
    <li class="c-featurette__item" *ngFor="let internationalTour of internationalTours">
      <img
        class="c-featurette__background"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/911489/nicolas-j-leclercq-785256-unsplash.jpg"
      /><small class="c-featurette__category">{{ internationalTour?.price }}</small>
      <h2 class="c-featurette__heading">{{ internationalTour?.name }}</h2>
      <a  [routerLink]="['/destinations/international/', internationalTour.international_id]" routerLinkActive="active"
      ><button class="c-featurette__button">Discover</button></a>
    </li>
  </ul>
</html>
